################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BinarySearchTree/.vs/BinarySearchTree
/BinarySearchTree/BinarySearchTree/obj
/BinarySearchTree/BinarySearchTree/bin/Debug/net8.0
/.gitignore
/BinarySearchTree/.vs/ProjectEvaluation/binarysearchtree.metadata.v7.bin
/BinarySearchTree/.vs/ProjectEvaluation/binarysearchtree.projects.v7.bin
/LeetCode/LeetCode/bin/Debug/net8.0
/LeetCode/LeetCode/obj
/LeetCode/.vs/LeetCode
/AVL/AVL/bin/Debug/net8.0
/AVL/AVL/obj
/AVL/.vs/AVL
/Heap/.vs/Heap
/Heap/Heap/bin/Debug/net8.0
/Heap/Heap/obj
/Tries/.vs/Tries
/Tries/Tries/bin/Debug/net8.0
/Tries/Tries/obj
/.gitignore
